<!-- templates/properties/property_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ property.images.url }}" class="img-fluid mb-4" alt="Property Image">
            </div>
            <div class="col-md-6">
                <h2>{{ property.title }}</h2>
                <p>{{ property.description }}</p>
                <p><strong>Address:</strong> {{ property.address }}</p>
                <p><strong>Type:</strong> {{ property.property_type }}</p>
                <p><strong>Price:</strong> ${{ property.price }}</p>
                <a href="{% url 'property_list' %}" class="btn btn-secondary">Back to Listings</a>
                <a href="{% url 'property_edit' property.pk %}" class="btn btn-primary">Edit Property</a>
            </div>
        </div>
    </div>
{% endblock %}